Checking OPUS data pairs quality

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
dataset = pd.read_csv('../data/interim/dataset.csv',
                      sep=';', 
                      on_bad_lines='skip', 
                      index_col = None, 
                      header = None,
                      names = ['EL','CA'])

In [20]:
dataset

,EL,CA
0,Δεν χρειάζεται να δημιουργηθεί ή να καταστραφεί .,No és creada ni creadora .
1,Και ο βασιλιάς είπε : « Φέρτε μου ένα μαχαίρι » .,"« Lord , give us a sign » ( en anglès ) ."
2,"Για τα παιδιά μας και για σας , Σαμάνθα .","Per als nostres fills i per a tu , Samantha ."
3,Among the Dead Cities ( = Μεταξύ των νεκρών ...,Among the Dead Cities ( en anglès ) .
4,"Σου προτείνω νέα στρατηγική , R2 .","Et suggereixo una nova estratègia , R2 ."
...,...,...
466467,Υπήρχαν σκέψεις για την ενοποίηση του προγράμμ...,La població va acudir a la crida de la disposi...
466468,Περιελάμβανε το νοτιοανατολικό τμήμα της Ηπείρ...,Està situada entre els Alts del Golan a l 'est...
466469,Αποτέλεσμα ήταν ο συνολικός πληθυσμός να μειωθ...,Tot i que la població va disminuir en general ...
466470,Στην εκδήλωση απονομής των βραβείων απονέμοντα...,Altres premis es donen per al millor equip ( C...
466471,Η οδοντοστοιχεία του αποτελείται από 32 δόντια...,Els lèmurs són animals heterodonts ( tenen dif...

In [21]:
dataset = dataset.dropna()
# Dropping rows that contain english text
dataset = dataset.loc[~dataset['CA'].str.contains('anglès')]
dataset = dataset.loc[~dataset['CA'].str.contains('tfrac')]
dataset = dataset.loc[~dataset['CA'].str.contains('displaystyle')]

In [22]:
print(dataset['EL'].iloc[44])
print(dataset['CA'].iloc[44])

Αυτός ήταν στην Ελλάδα , μοιράστηκε χρυσό .
Fou a Grècia , va dividir d 'or .

In [23]:
output_folder_path = '../data/interim/mt5_train_interim/'
dataset = dataset.rename(columns={'CA':'context', 'EL':'target'})
train, test = train_test_split(dataset, test_size = 0.2, random_state=42)
train, valid = train_test_split(train, test_size = 0.25, random_state=42) # 0.25 * 0.8 = 0.2

train.to_csv(output_folder_path+'train.tsv', sep = '\t', index=False)
test.to_csv(output_folder_path+'test.tsv', sep = '\t', index=False)
valid.to_csv(output_folder_path+'valid.tsv', sep = '\t', index=False)

In [24]:
dev

,EL,CA
149365,"Για τους μαθητές αυτούς , η φοίτηση στο σχολεί...",Això vol dir que els alumnes menors escolaritz...
401470,Το 1935 ξεκίνησε τις ανασκαφές στο νησί της Σκ...,A 1955 es va desplomar l 'ala nord del claustre .
417311,Ίδρυσε την Τροία μία νέα πόλη δίνοντας το όνομ...,"Deu el seu nom a la ciutat de Pèrgam , antiga ..."
186010,Ο Μορφωτικός Σύλλογος Νεολαία Τύμπου ιδρύθηκε ...,L 'Escola d 'Art del FAD va ser creada l 'any ...
88420,Κόμμα του είναι το Εθνικό Λαϊκό Κογκρέσο .,El Folketinget és el parlament nacional .
...,...,...
184589,"Η Μερσέ Ροδορέδα ( Mercé Rodoreda i Guirguí , ...","Mercè Rodoreda i Gurguí ( Barcelona , 10 d 'oc..."
428882,Αυτές οι τιμές είναι οι m μιγαδικές λύσεις z τ...,És el cas de les solucions de l 'equació y ' =...
69976,Τα 11 dsRNA κλώνοι παραμένουν μέσα στη προστασ...,Els onze brins de dsRNA romanen dins de la pro...
452294,Το ντεμπούτο του πραγματοποιήθηκε ενάντια στην...,Diago va ser condecorat pel govern nacional pe...
324817,Κινείται αποκλειστικά πάνω σε επίπεδα πατώματα .,Creix especialment en terrenys calcàris .